<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png" alt="" height="200px">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas aliquid magni rem necessitatibus fugiat cupiditate qui ipsa veritatis nam laudantium autem ratione illum unde eos optio cumque quibusdam, culpa esse?
      </a>
    </p>
  </div>
</div>

